// Colors
$primary-color : #076799;
$secondry-color: #333333;
$text-color: #747474;

// Fonts
$fontMain: 'Roboto';
$fontHeading: 'Arial';


// Breakpoints
$breakout1200 : 1200px;
$breakout1024 : 1024px;
$breakout991 : 991px;
$breakout767 : 767px;
$breakout576 : 576px;