.serve {
    text-align: center;
    padding: 50px 0;
  
    h2 {
      font-size: 43px;
      font-weight:500;
      margin-block: 10px 75px;
      color: $secondry-color;
    }
  
    .serve-list {
      list-style: none;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
  
      li {
        display: flex;
        align-items: center;
        color: $secondry-color;
        font-size: 20px;
        padding-left: 40px;
        font-weight: 400;
  padding-block: 20px;
        i {
          width: 20px;
          height: 20px;
          margin-right: 10px;
          color: $primary-color;
        }
      }
    }
  }
  